.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background: rgba(0, 0, 0, 0.6);
}

.dialogMainWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
}

.dialogMainContent {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    transform: scale(0);  
    animation:scaleAnimation 500ms infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 151;
}


@keyframes scaleAnimation {
    0% {
        transform: scale(0);  
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleAnimationOver {
    0% {
        transform: scale(1);  
    }
    25% {
        transform: scale(0.75);
    }
    50% {
        transform: scale(0.5);
    }
    75% {
        transform: scale(0.25);
    }
    100% {
        transform: scale(0);
    }
}